*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
}

h1{
    font-size:250%;
    margin-bottom:20px;
}

article{
    width:60vw;
    padding:40px;
}

img{
    
}

p{
    margin-bottom: 40px;
}